<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Sacramento|Coming+Soon" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css"
          integrity="sha256-Te9+aTaL9j0U5PzLhtAHt+SXlgIT8KT9VkyOZn68hak=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'viewyear/reset.css' %}">
    <link rel="stylesheet" href="{% static 'viewyear/style.css' %}">
    <link rel="stylesheet" href="{% static 'viewyear/font.css' %}">
</head>
<body>

<div class="content">
    <div class="container">
        <div class="column">
            <div class="header"><h1>Year in Pixels</h1></div>
        </div>
        <div class="column">
            <div id="pixels">
                <div class="mood-5" style="top: 31px; left: 253px;"></div>
                <div class="mood-1" style="top: 49px; left: 33px;"></div>
                <div class="mood-4" style="top: 37px; left: 269px;"></div>
                <div class="mood-4" style="top: 71px; left: 77px;"></div>
                <div class="mood-1" style="top: 68px; left: 303px;"></div>
                <div class="mood-4" style="top: 83px; left: 217px;"></div>
                <div class="mood-4" style="top: 2px; left: 306px;"></div>
                <div class="mood-3" style="top: 81px; left: 354px;"></div>
                <div class="mood-3" style="top: 12px; left: 360px;"></div>
                <div class="mood-2" style="top: 82px; left: 294px;"></div>
                <div class="mood-3" style="top: 27px; left: 262px;"></div>
                <div class="mood-5" style="top: 38px; left: 236px;"></div>
                <div class="mood-2" style="top: 52px; left: 289px;"></div>
                <div class="mood-3" style="top: 89px; left: 8px;"></div>
                <div class="mood-1" style="top: 62px; left: 259px;"></div>
                <div class="mood-1" style="top: 24px; left: 207px;"></div>
                <div class="mood-5" style="top: 58px; left: 40px;"></div>
                <div class="mood-1" style="top: 59px; left: 311px;"></div>
                <div class="mood-3" style="top: 72px; left: 315px;"></div>
                <div class="mood-5" style="top: 43px; left: 248px;"></div>
                <div class="mood-1" style="top: 23px; left: 345px;"></div>
                <div class="mood-4" style="top: 84px; left: 37px;"></div>
                <div class="mood-4" style="top: 34px; left: 214px;"></div>
                <div class="mood-5" style="top: 91px; left: 352px;"></div>
                <div class="mood-1" style="top: 0px; left: 279px;"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="column">
            <div id="moodGrid" class="grid">
                <div class="item"><span></span>
                    <div class="days"><span class="day">1</span><span class="day">2</span><span
                            class="day">3</span><span class="day">4</span><span class="day">5</span><span
                            class="day">6</span><span class="day">7</span><span class="day">8</span><span
                            class="day">9</span><span class="day">10</span><span class="day">11</span><span class="day">12</span><span
                            class="day">13</span><span class="day">14</span><span class="day">15</span><span
                            class="day">16</span><span class="day">17</span><span class="day">18</span><span
                            class="day">19</span><span class="day">20</span><span class="day">21</span><span
                            class="day">22</span><span class="day">23</span><span class="day">24</span><span
                            class="day">25</span><span class="day">26</span><span class="day">27</span><span
                            class="day">28</span><span class="day">29</span><span class="day">30</span><span
                            class="day">31</span></div>
                </div>
                {% if mood_data %}
                    {% for month in mood_data %}
                        <div data-month="{{ month.name }}" class="item month"><span>{{ month.name_short }}</span>
                            {% for day in month.data %}
                                <a href="#" data-mood="{{ day.mood }}">{{ day.mood }}</a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No data is available.</p>
                {% endif %}
            </div>
        </div>
        <div class="column">
            <div class="interface">
                <div class="mood-form"><h2>Hello {{ person_name }},<br>how are you feeling today?</h2>
                    <form id="submitMood" action="">
                        <div><input type="radio" id="none" name="dayMood" value="0" class="mood-0"><label
                                for="none"></label></div>
                        <div><input type="radio" id="tough" name="dayMood" value="1" class="mood-1"><label
                                for="tough"></label></div>
                        <div><input type="radio" id="difficult" name="dayMood" value="2" class="mood-2"><label
                                for="difficult"></label></div>
                        <div><input type="radio" id="average" name="dayMood" value="3" class="mood-3"><label
                                for="average"></label></div>
                        <div><input type="radio" id="great" name="dayMood" value="4" class="mood-4"><label
                                for="great"></label></div>
                        <div><input type="radio" id="amazing" name="dayMood" value="5" class="mood-5"><label
                                for="amazing"></label></div>
                    </form>
                    <div id="message">Your day was <u>great</u>.</div>
                </div>
                <div id="chart">
                    <div class="ct-chart">
                    </div>
                </div>
                <div id="quoteOfTheDay"><p>"Do not be afraid to give up the good for the great."</p>
                    <p class="author">—Kenny Rogers</p></div>

            </div>
        </div>
    </div>

    <script type="text/javascript">var moodOptions = {
        "0": "none",
        "1": "tough",
        "2": "difficult",
        "3": "average",
        "4": "great",
        "5": "amazing"
    }</script>
</div>


</body>
</html>